BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
AlignEscapedNewlines: DontAlign
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterComma
BreakBeforeBraces: Attach
BreakStringLiterals: false
BreakTemplateDeclarations: MultiLine
CompactNamespaces: false
EmptyLineBeforeAccessModifier: Always
EnumTrailingComma: Remove
FixNamespaceComments: true
IndentPPDirectives: BeforeHash
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SortIncludes: Never
ColumnLimit: 0
BinPackArguments: true
BinPackParameters: BinPack
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
PenaltyBreakBeforeFirstCallParameter: 0
PenaltyBreakFunctionCall: 0
PenaltyBreakString: 0
PointerAlignment: Right
ReferenceAlignment: Right
NamespaceIndentation: All
ContinuationIndentWidth: 2
BreakBeforeBinaryOperators: All
AllowShortMacrosOnASingleLine: All
